<h2>This is the end</h2>
<mat-tab-group>
  <!-- <mat-tab label="Simple">
    <app-income-statement></app-income-statement>
  </mat-tab>
  <mat-tab label="Transposed">
    <app-income-statement-transposed></app-income-statement-transposed>
  </mat-tab> -->
  <mat-tab label="Transposed-Dry-API">
    <app-income-statements-dry-api></app-income-statements-dry-api>
  </mat-tab>
  <mat-tab label="Transposed-Dry">
    <app-income-statement-dry></app-income-statement-dry>
  </mat-tab>


</mat-tab-group>